<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/zTreeStyle.css">

    <!--引入JS-->
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/webuploader.js"></script>
    <script type="text/javascript" src="../js/queryFile.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/jquery.ztree.all.js"></script>
    <script type="text/javascript" src="../js/jquery.ztree.exhide.js"></script>


</head>


<body>
    <div>
        <label id="queryTest">11111111111111</label>

    </div>
    <div>
        <ul id="menuTree" class="ztree">22222
        </ul>
    </div>


</body>


</html>